## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.cache
*.vsidx
*.vspscc
*.vssscc

## .NET
*.dll
*.pdb
*.exe
*.deps.json
*.runtimeconfig.json

## NuGet
*.nupkg
packages/

## NSIS output
*_Setup_*.exe

## OS
Thumbs.db
Desktop.ini
.DS_Store
